<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Blog Home</title>
</head>
<body>
    <%- include("partials/header", { title: "Home", session: session, messages: messages }) %>
  <h1>Welcome to Blog App</h1>
  <% if (messages.error) { %>
    <p style="color:red;"><%= messages.error %></p>
  <% } %>
  <% if (messages.success) { %>
    <p style="color:green;"><%= messages.success %></p>
  <% } %>

  <h2>All Posts</h2>
  <ul>
    <% posts.forEach(post => { %>
      <li>
        <a href="/posts/<%= post._id %>"><%= post.title %></a>
        <small> by <%= post.author %></small>
      </li>
    <% }) %>
  </ul>
</body>
</html>
